*,
*::before,
*::after {
    outline: 0;
    box-sizing: border-box;
}

body {
    &,
    #root {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    footer {
        margin-top: auto !important;
    }
}
